// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

@use 'style/global.scss';
@use 'style/powerMenu.scss';
@use 'style/systemMenu.scss';
@use 'style/workspaces.scss';
@use 'style/indicatorBar.scss';
@use 'style/tray.scss';

window.Bar {
  background: transparent;
  color: $fg-color;
  font-family: 'Quicksand';

  > .centerbox {
    margin: 8px;
    margin-bottom: 0;
  }

  .networkIcon {
    transform: translateY(-1px);
  }

  .MenuButtons, .Tray {
    box-shadow:
      rgba(255, 255, 255, 0.05) 0px 6px 24px 0px,
      rgba(255, 255, 255, 0.08) 0px 0px 0px 1px;
    background-color: rgba(107, 107, 107, 0.11);
    backdrop-filter: blur(2px); // because ags is retarded

    color: #fff;
    border-radius: 20px;
    padding: 4px;
    font-weight: 400;
    font-size: 12px;

    .toggle-powermenu {
      > button {
        padding: 0;
        background: transparent;
        &:hover {
          background-color: rgba(255, 255, 255, 0.082)
        }
        &:checked {
          background-color: rgba(255, 255, 255, 0.12)
        }
        padding: 0 0px;
        border-radius: 12px;
        box-shadow: none;
      }

      .icons {
        color: #ededed;
        padding: 0 6px;
        > * {
          margin: 0 4px;
        }
      }
    }
    .time {
      padding: 0 6px;
    }
  }
}
