
.powermenu-toggle {
    padding: 0 3px;
    border-radius: 50%;
    background: none;
    &:hover {
        background-color: rgba(255,255,255,0.1);
    }
    > button {
        padding: 0;
        background: none;
    }
}
.power-icon {
    transform: scale(0.88);
}
.power-popover {
    box-shadow: none;
    margin-top: 10px;
}
.power-popover contents {
    box-shadow:
    rgba(255, 255, 255, 0.05) 0px 6px 24px 0px,
    rgba(255, 255, 255, 0.08) 0px 0px 0px 1px;
    background-color: rgba(107, 107, 107, 0.11);
    border-radius: 8px;
    padding: 12px;
    box-shadow: none;
    button {
        padding: 12px;
        background-color: rgba(255,255,255,0.05);
    }
}