.Tray {
    .tray-item {
        background: none;
        border-radius: 12px;
        padding: 0 4px;
        button {
            padding: 0;
            background: none;
        }
        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
        .tray-icon.system {
            filter: brightness(10);
        }
        .tray-menu {
            > arrow {
                box-shadow:
                rgba(255, 255, 255, 0.05) 0px 6px 24px 0px,
                rgba(255, 255, 255, 0.08) 0px 0px 0px 1px;
                background-color: rgba(107, 107, 107, 0.11);
            }
            contents {
                border-radius: 8px;
                box-shadow:
                rgba(255, 255, 255, 0.05) 0px 6px 24px 0px,
                rgba(255, 255, 255, 0.08) 0px 0px 0px 1px;
                background-color: rgba(107, 107, 107, 0.11);

                modelbutton:hover {
                    background: var(--primary);
                    color: #000;
                }
            }
        }
    }
}